
/* Your CSS Code here. */
.card-header{
    padding-left: 15px;
    border-bottom: 2px solid #c9c4c4;
}
.card{
    border: 2px solid #dfd3d3;
}
.card-body{
    padding: 0 15px;
    margin-bottom: 17px;
}
.card-deck{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin-top: 32px;
    border-bottom: 11px solid black;
    margin-bottom: 29px 36px;
    gap: 10px;
}
.card-header1{
    background-color: #b92b2b;
    border-bottom: 3px solid #ce1717;
    padding: 0px 12px;
}
.card-deck .card{
    background-color: #bd2222;
    color: white;
}
